*{
  color: white;/*全局字体颜色*/
}
@font-face {
  font-family: myfont;
  src: url(../font/方正粗圆.ttf);
}
body{
  background-image:url("../imgs/background-imgs.png") ;
  background-size: 100%;
  background-attachment:fixed; /* 页面保持不变 */
}
.title{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: purple;
}
.all{
  display: block;
  border: solid 1px black;
  width: 700px;
  margin: auto;
  background-color:rgba(6, 6, 6, 0.468);
  padding: 40px 80px;
  
}
.first{
  text-align: center;
}
.first input{
  display: block;
  margin: 5px auto;
  width: 300px;
  height: 30px;
  border-radius: 8px;
  color: black;
}
.first p{
  display: inline-block;
}
.Checkbox{
  margin-top: 40px;
}

.Checkbox div >div{
  display: inline-block;
  width:270px;
  line-height: 50px;
  padding-left: 67px;
  font-size: 18px;
}
.Checkbox div >div>input{
  width: 28px;
  height: 21px;
  vertical-align: middle;
}
.firstbox{
  font-family: myfont;
}
.firstbox h2{
  color:	DarkSlateBlue;
}
.secondbox{
  font-family: myfont;
}
.secondbox h2{
  color:dodgerblue;
}
.thirdbox{
  font-family: myfont;
}
.thirdbox h2{
  color:MediumSpringGreen;
}
.fourthbox{
  font-family: myfont;
}
.fourthbox h2{
  color:	Yellow;
}
.ffifthbox{
  font-family: myfont;
}
.fifthbox h2{
  color:DarkOrange;
}
.sixthbox{
  font-family: myfont;
}
.sixthbox h2{
  color: NavajoWhite;
}
.seventhbox{
  font-family: myfont;
}
.seventhbox h2{
  color:	Aqua;
}
.allcompute{
  font-size: 9px;
  float: right;
  position: fixed;
  right: 10px;
  top: 85px;
  border: solid 2px black;
  padding:10px 0px 0px 15px;
  width: 290px;
}
.allcompute button{
  width: 95px;
  height: 40px;
  margin-left: 70px;
  color: black;
  border-radius: 15px;
}
.allcompute button:hover{
  background-color: LightGrey;
  color: black;
}
