<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/vue.js" type="text/javascript"></script>
  <link rel="stylesheet" href="css/css.css">
  <title>全境封锁2伤害计算器1.0 By-MuFen</title>
</head>

<body>
  <h1 class="title">全境封锁2伤害计算器</h1>
  <div class="all">
    <div id="root" class="first">
      <p>武器基础白字：<input v-model="arms" type="text" name="arms" placeholder="武器基础白字" /></p>
      <p>全武器伤(%)：<input v-model="RedCore" type="text" name="RedCore" placeholder="全武器伤(%)" /></p>
      <p>武器种类伤害加成(%)：<input v-model="WeaponType" type="text" name="Weapon type" placeholder="武器种类伤害加成(%)" /></p>
      <p>爆头伤(%)：<input v-model="HSD" type="text" name="HSD" placeholder="爆头伤(%)" /></p>
      <p>爆伤(%)：<input v-model="CHD" type="text" name="CHD" placeholder="爆伤(%)" /></p>
      <p>生命伤(%)：<input v-model="DTH" type="text" name="DTH" placeholder="生命伤(%)" /></p>
      <p>装甲伤(%)：<input v-model="DTA" type="text" name="DTA" placeholder="装甲伤(%)" /></p>
      <p>掩体伤(%)：<input v-model="DTOC" type="text" name="DTOC" placeholder="掩体伤(%)" /></p>
    </div>
    <div id="Checkbox" class="Checkbox">
      <div class="firstbox">
        <h2>武器天赋</h2>
        <div>
          <input @click="ChBoomerang" type="checkbox">
          <span>回力镖</span>
        </div>
        <div>
          <input @click="ChBreadbasket" type="checkbox">
          <span>面包篮(满)</span>
        </div>
        <div>
          <input @click="ChFightHandToHandWith" type="checkbox">
          <span>短兵相接</span>
        </div>
        <div>
          <input @click="ChGoBlind" type="checkbox">
          <span>失明</span>
        </div>
        <div>
          <input @click="ChLight" type="checkbox">
          <span>点燃</span>
        </div>
        <div>
          <input @click="ChPCFirst" type="checkbox">
          <span>精密计算:前半段</span>
        </div>
        <div>
          <input @click="ChPCLast" type="checkbox">
          <span>精密计算:后半段</span>
        </div>
        <div>
          <input @click="ChNaked" type="checkbox">
          <span>赤身裸体</span>
        </div>
        <div>
          <input @click="ChOS" type="checkbox">
          <span>乐天派(取50%)</span>
        </div>
        <div>
          <input @click="ChTTM" type="checkbox">
          <span>排山倒海(满)</span>
        </div>
        <div>
          <input @click="ChFistToMeat" type="checkbox">
          <span>拳拳到肉</span>
        </div>
        <div>
          <input @click="ChFullOfEnergy" type="checkbox">
          <span>充满干劲(满)</span>
        </div>
        <div>
          <input @click="ChRanger" type="checkbox">
          <span>游骑兵(30米)</span>
        </div>
        <div>
          <input @click="ChRifleman" type="checkbox">
          <span>步枪兵(满)</span>
        </div>
        <div>
          <input @click="ChToAbuse" type="checkbox">
          <span>虐待狂</span>
        </div>
        <div>
          <input @click="ChInsanity" type="checkbox">
          <span>精神错乱</span>
        </div>
        <div>
          <input @click="ChAsystole" type="checkbox">
          <span>停搏</span>
        </div>
      </div>
      <div class="secondbox">
        <h2>胸甲天赋</h2>
        <div>
          <input @click="ChFeelTheSame" type="checkbox">
          <span>感同深受(队友携带并且满值)</span>
        </div>
        <div>
          <input @click="ChFeelTheSameY" type="checkbox">
          <span>感同深受(自身携带并且满值)</span>
        </div>
        <div>
          <input @click="ChAbsorbed" type="checkbox">
          <span>专注(满)</span>
        </div>
        <div>
          <input @click="ChGlassCannon" type="checkbox">
          <span>玻璃大炮</span>
        </div>
        <div>
          <input @click="ChGunslinger" type="checkbox">
          <span>枪神</span>
        </div>
        <div>
          <input @click="ChIntimidate" type="checkbox">
          <span>威吓(满)</span>
        </div>
        <div>
          <input @click="ChOF" type="checkbox">
          <span>抹灭性破坏(满)</span>
        </div>
        <div>
          <input @click="ChShelterCover" type="checkbox">
          <span>掩体掩护</span>
        </div>
        <div>
          <input @click="ChSpark" type="checkbox">
          <span>火花</span>
        </div>
        <div>
          <input @click="ChHeadHunter" type="checkbox">
          <span>猎头者</span>
        </div>
        <div>
          <input @click="ChScout" type="checkbox">
          <span>探子</span>
        </div>
      </div>
      <div class="thirdbox">
        <h2>背包天赋</h2>
        <div>
          <input @click="ChCompanion" type="checkbox">
          <span>同伴</span>
        </div>
        <div>
          <input @click="ChComposure" type="checkbox">
          <span>泰然自若</span>
        </div>
        <div>
          <input @click="ChConcussion" type="checkbox">
          <span>震荡</span>
        </div>
        <div>
          <input @click="ChConcussionKill" type="checkbox">
          <span>震荡(获得击杀后)</span>
        </div>
        <div>
          <input @click="ChOpportunistic" type="checkbox">
          <span>投机取巧</span>
        </div>
        <div>
          <input @click="ChUnstoppableForce" type="checkbox">
          <span>无人能挡的力量(满)</span>
        </div>
        <div>
          <input @click="ChVersatile" type="checkbox">
          <span>多才多艺(冲锋枪与霰弹枪)</span>
        </div>
        <div>
          <input @click="ChVersatileRF" type="checkbox">
          <span>多才多艺(狙击与步枪)</span>
        </div>
        <div>
          <input @click="ChVersatileAR" type="checkbox">
          <span>多才多艺(突击步枪与机枪)</span>
        </div>
        <div>
          <input @click="ChVigilance" type="checkbox">
          <span>警戒</span>
        </div>
        <div>
          <input @click="ChWicked" type="checkbox">
          <span>恶人</span>
        </div>
      </div>
      <div class="fourthbox">
        <h2>奇特天赋</h2>
        <div>
          <input @click="ChSawyersKneepads" type="checkbox">
          <span>索耶的护膝(满)</span>
        </div>
        <div>
          <input @click="ChDodgeCityHolster" type="checkbox">
          <span>道奇城枪手枪套</span>
        </div>
        <div>
          <input @click="ChBigHorn" type="checkbox">
          <span>大角突击步枪(半自动模式)</span>
        </div>
        <div>
          <input @click="ChChameleon" type="checkbox">
          <span>变色龙(躯体BUFF)</span>
        </div>
        <div>
          <input @click="ChLadyDeath" type="checkbox">
          <span>死亡女神</span>
        </div>
        <div>
          <input @click="ChMerciless" type="checkbox">
          <span>无情/冷酷无情</span>
        </div>
        <div>
          <input @click="ChScorpio" type="checkbox">
          <span>天蝎座</span>
        </div>
      </div>
      <div class="fifthbox">
        <h2>装备组</h2>
        <div>
          <input @click="ChAcesEights" type="checkbox">
          <span>A、8两对</span>
        </div>
        <div>
          <input @click="ChOngoingDirective" type="checkbox">
          <span>政令进行时</span>
        </div>
        <div>
          <input @click="ChStrikersBattlegear" type="checkbox">
          <span>突袭者战斗装备(满层)</span>
        </div>
        <div>
          <input @click="ChTipOfTheSpear" type="checkbox">
          <span>先锋部队</span>
        </div>
        <div>
          <input @click="ChTruePatriot" type="checkbox">
          <span>真实爱国者</span>
        </div>
        <div>
          <input @click="ChFutureInitiative" type="checkbox">
          <span>未来主动权(带胸甲)</span>
        </div>
        <div>
          <input @click="ChHeartTerminator" type="checkbox">
          <span>芳心终结者(满层)</span>
        </div>
      </div>
      <div class="sixthbox">
        <h2>技能增伤</h2>
        <div>
          <input @click="ChScannerPulse" type="checkbox">
          <span>脉冲--扫描/遥控</span>
        </div>
        <div>
          <input @click="ChFirewallStrikerShield" type="checkbox">
          <span>突袭者护盾</span>
        </div>
      </div>
      <div class="seventhbox">
        <h2>专长加成</h2>
        <div>
          <input @click="ChDemolitionistTacticalLink" type="checkbox">
          <span>爆破专家--战术链接</span>
        </div>
        <div>
          <input @click="ChFirewallTacticalLink" type="checkbox">
          <span>烈焰之墙--战术链接</span>
        </div>
        <div>
          <input @click="ChSharpshooterTacticalLink" type="checkbox">
          <span>精准射手--战术链接</span>
        </div>
        <div>
          <input @click="ChSurvivalistTacticalLink" type="checkbox">
          <span>生存专家--战术链接</span>
        </div>
        <div>
          <input @click="ChTechnicianDismantling" type="checkbox">
          <span>技师--拆解</span>
        </div>
      </div>
    </div>
  </div>
  <div id="Calculation" class="allcompute">
    <a @click="culation" href="#">计算</a>
    <h1>全天赋武器伤加成:{{FULLWDJ.toFixed(2)}}</h1>
    <h1>全天赋总武器伤加成:{{FULLTWD.toFixed(2)}}</h1><br />
    <h1>对生命值敌人伤害:{{HSum.toFixed(2)}}</h1>
    <h2>暴击:{{HSumB.toFixed(2)}}</h2>
    <h2>爆头:{{HSumH.toFixed(2)}}</h2>
    <h2>头部暴击:{{HSumHB.toFixed(2)}}</h2>
    <h2>对离开掩体目标伤害:{{HSumOC.toFixed(2)}}</h2>
    <h2>对离开掩体目标暴击:{{HSumBOC.toFixed(2)}}</h2>
    <h2>对离开掩体目标爆头:{{HSumHOC.toFixed(2)}}</h2>
    <h2>对离开掩体目标头部暴击:{{HSumHBOC.toFixed(2)}}</h2>
    <br>
    <h1>对护甲值敌人伤害:{{ASum.toFixed(2)}}</h1>
    <h2>暴击:{{ASumB.toFixed(2)}}</h2>
    <h2>爆头:{{ASumH.toFixed(2)}}</h2>
    <h2>头部暴击:{{ASumHB.toFixed(2)}}</h2>
    <h2>对离开掩体目标伤害:{{ASumOC.toFixed(2)}}</h2>
    <h2>对离开掩体目标暴击:{{ASumBOC.toFixed(2)}}</h2>
    <h2>对离开掩体目标爆头:{{ASumHOC.toFixed(2)}}</h2>
    <h2>对离开掩体目标头部暴击:{{ASumHBOC.toFixed(2)}}</h2>
  </div>
  <div class="tips">
    <p>输入框直接输入数值，无需输入百分号，武器精通等级同上，例如5级直接输入数字5</p>
    <p>武器基础白字是无任何增伤，武器原本的伤害。请在游戏中开启"显示基础伤害"查看</p>
    <p>计算结果有些许偏差是正常的</p>
    <p>叠层天赋大多数取最大值</p>
  </div>
</body>
<script src="js/Tom Clancys The Division 2.js" type="text/javascript"></script>

</html>