* {
  color: white;
  /*全局字体颜色*/
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: myfont;
  src: url(../font/方正粗圆.ttf),
    url(../font/方正粗圆.eot),
    url(../font/方正粗圆.woff),
    url(../font/方正粗圆.svg);
}

@media screen and (min-width: 730px) {
  * {
    color: black;
    /*全局字体颜色*/
  }

  .WeaponValue {
    padding-bottom: 10px;
  }

  body {
    background-color: rgb(240, 240, 240);
  }

  .title {
    text-align: center;
    color: rgb(255, 144, 40);
    font-family: myfont;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .bodyGui {
    margin-bottom: 60px;
    margin-top: 30px;
    position: relative;
    vertical-align: top;
  }

  .all {
    border-right: 3px solid orange;
    border-radius: 0 5px 5px 0;
    display: inline-block;
    width: 55%;
    background-color: rgba(255, 166, 0, 0.05);
    padding: 1%;
    border-bottom: 3px solid orange;
    border-top: 3px solid orange;
    vertical-align: top;
    position: relative;
    right: 37.5%;
  }

  .first {
    text-align: center;
    font-size: 0;
  }

  .first p {
    font-size: 18px;
    margin-top: 10px;
  }

  .first input {
    margin-top: 5px;
    border-bottom: 1px solid rgba(255, 166, 0, 1);
    border-top: 0px;
    border-left: 1px solid rgba(255, 166, 0, 1);
    border-right: 1px solid rgba(255, 166, 0, 1);
    background-color: rgba(255, 166, 0, 0.05);
    text-align: center;
    font-size: 18px;
    display: block;
    height: 30px;
    color: black;
    outline: none;
  }

  .first p {
    display: inline-block;
    font-family: 'myfont';
  }

  #checkboxinput {
    background-color: rgba(255, 166, 0, 0.05);
    text-align: center;
    border-radius: 2px;
    border-top: 0;
    border-bottom: 2px solid rgba(255, 166, 0, 1);
    border-left: 1px solid rgba(255, 166, 0, 1);
    border-right: 1px solid rgba(255, 166, 0, 1);
    color: black;
    font-size: 18px;
    width: 70px;
    outline: none;
  }

  .Checkbox {
    margin-top: 40px;
  }

  .Checkbox h2 {
    box-sizing: border-box;
    text-align: center;
    background: rgba(255, 166, 0, 0.05);
    border-left: 10px solid rgba(255, 166, 0, 1);
    border-right: 10px solid rgba(255, 166, 0, 1);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .Checkbox div>div {
    display: inline-block;
    width: 270px;
    line-height: 50px;
    padding-left: 67px;
    font-size: 18px;
  }

  .Checkbox div div input {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    color: black;
  }

  .TalentType {
    text-align: center;
    margin-bottom: 10px;
  }

  .TalentType a {
    border-left: 1px solid rgba(255, 166, 0, 1);
    border-right: 1px solid rgba(255, 166, 0, 1);
    font-family: 'myfont';
    display: inline-block;
    font-size: 20px;
    width: 14%;
    background-color: rgba(255, 166, 0, 0.1);
    padding-top: 5px;
    padding-bottom: 5px;
    user-select: none;
  }

  .TalentTypeA {
    border-left: 1px solid rgba(255, 166, 0, 1);
    border-right: 1px solid rgba(255, 166, 0, 1);
    border-bottom: 5px solid rgba(255, 166, 0, 1);
    font-family: 'myfont';
    display: inline-block;
    font-size: 20px;
    width: 14%;
    background-color: rgba(255, 166, 0, 0.1);
    padding-top: 5px;
    padding-bottom: 5px;
    user-select: none;
  }

  .TalentType a:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .firstbox {
    font-family: 'myfont';
  }

  .secondbox {
    font-family: 'myfont';
  }

  .thirdbox {
    font-family: 'myfont';
  }

  .fourthbox {
    font-family: 'myfont';
  }

  .fifthbox {
    font-family: 'myfont';
  }

  .sixthbox {
    font-family: 'myfont';
  }

  .seventhbox {
    font-family: 'myfont';
  }

  .allcompute {
    font-size: 11px;
    position: relative;
    left: 62.7%;
    padding: 0 1% 1%;
    width: 35%;
    background-color: rgba(255, 166, 0, 0.05);
    border-left: 3px solid orange;
    border-bottom: 3px solid orange;
    line-height: 30px;
    border-radius: 5px 0 0 5px;
    display: inline-block;
  }

  .allcomputebutton {
    border-radius: 0 5px 5px 0;
    border-left: 5px solid grey;
    background: rgba(255, 166, 0, 0.05);
    padding-left: 5px;
    display: inline-block;
    margin-top: 5px;
    font-family: 'myfont';
    font-size: 18px;
    vertical-align: top;
    user-select: none;
  }

  .allcomputebuttons {
    border-radius: 0 5px 5px 0;
    border-left: 5px solid rgb(153, 255, 0);
    background: rgba(255, 166, 0, 0.05);
    padding-left: 5px;
    display: inline-block;
    margin-top: 5px;
    font-family: 'myfont';
    font-size: 18px;
    user-select: none;
  }

  .allcompute > a{
    display: block;
    width: 98.6%;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 30px;
    background-color: rgba(255, 166, 0, 0.05);
    font-family: 'myfont';
    position: absolute;
    left: 0;
    border-bottom: 5px solid orange;
    border-radius: 5px 0 0 0;
    border-top: 3px solid orange;
    user-select: none;
  }


  .allcompute > a:hover {
    color: black;
    border-bottom: 5px solid rgb(231, 150, 0);
    background-color: rgba(255, 166, 0, 0.2);
  }

  .allcomputeFive a:hover {
    color: rgb(255, 255, 255);
    border-bottom: 5px solid white;
    background-color: rgb(0, 0, 0);
  }

  .aspacing {
    height: 50px;
  }

  .star {
    text-decoration: none;
    color: black;
  }

  .star:hover {
    color: rgb(0, 196, 196);
  }

  .tips {
    font-family: 'myfont';
    font-size: 18px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 5px solid orange;
    border-top: 5px solid orange;
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    text-align: center;
    background-color: rgba(255, 166, 0, 0.05);
  }

  .tips p {
    color: black;
  }

  .End {
    background-color: rgba(255, 166, 0, 0.05);
    padding: 0.5%;
    position: relative;
    margin: 50px auto 0;
    border-top: 2px solid orange;
  }

  .endk {
    display: inline-block;
    margin: 0 0 0 1%;
  }

  .endk span {
    font-size: 18px;
    color: black;
    font-family: 'myfont';
    display: inline-block;
    width: 200px;
  }

  .endf {
    display: inline-block;
    position: absolute;
    right: 1%;
  }

  .endf p {
    font-family: 'myfont';
    font-size: 18px;
    text-align: right;
    display: inline-block;
    color: black;
    margin: 0 0 0 0;
  }

  .floatCal {
    display: none;
  }
}

@media screen and (max-width:730px) {
  * {
    color: black;
    /*全局字体颜色*/
  }

  body {
    background-color: rgb(240, 240, 240);
  }

  .title {
    text-align: center;
    color: rgb(255, 144, 40);
    font-family: myfont;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .bodyGui {
    margin-bottom: 200px;
    margin-top: 20px;
    position: relative;
  }

  .all {
    box-sizing: border-box;
    border: 3px solid orange;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    background-color: rgba(255, 166, 0, 0.05);
    padding: 1%;
  }

  .first {
    text-align: center;
    font-size: 0;
  }

  .first p {
    font-size: 18px;
    margin-top: 10px;
    width: 45%;
  }

  .first input {
    width: 100%;
    margin-top: 5px;
    border-bottom: 1px solid rgba(255, 166, 0, 1);
    border-top: 0px;
    border-left: 1px solid rgba(255, 166, 0, 1);
    border-right: 1px solid rgba(255, 166, 0, 1);
    background-color: rgba(255, 166, 0, 0.05);
    text-align: center;
    font-size: 18px;
    display: block;
    height: 30px;
    color: black;
    outline: none;
  }

  .first p {
    display: inline-block;
    font-family: 'myfont';
  }

  #checkboxinput {
    background-color: rgba(255, 166, 0, 0.05);
    text-align: center;
    border-radius: 2px;
    border-top: 0;
    border-bottom: 2px solid rgba(255, 166, 0, 1);
    border-left: 1px solid rgba(255, 166, 0, 1);
    border-right: 1px solid rgba(255, 166, 0, 1);
    color: black;
    font-size: 18px;
    width: 70px;
    outline: none;
  }

  .Checkbox {
    margin-top: 40px;
  }

  .Checkbox h2 {
    font-size: 25px;
    box-sizing: border-box;
    text-align: center;
    background: rgba(255, 166, 0, 0.05);
    border-left: 10px solid rgba(255, 166, 0, 1);
    border-right: 10px solid rgba(255, 166, 0, 1);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .Checkbox div>div {
    display: inline-block;
    line-height: 50px;
    padding-left: 5%;
    font-size: 18px;
  }

  .Checkbox div div input {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    color: black;
  }

  .TalentType {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
  }

  .TalentType a {
    text-align: center;
    border-left: 1px solid rgba(255, 166, 0, 1);
    border-right: 1px solid rgba(255, 166, 0, 1);
    font-family: 'myfont';
    font-size: 20px;
    width: 11%;
    background-color: rgba(255, 166, 0, 0.1);
    padding-top: 5px;
    padding-bottom: 5px;
    user-select: none;
    writing-mode: vertical-rl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    writing-mode: tb-rl;
    height: 20%;
  }

  .TalentTypeA {
    text-align: center;
    border-left: 1px solid rgba(255, 166, 0, 1);
    border-right: 1px solid rgba(255, 166, 0, 1);
    border-bottom: 5px solid rgba(255, 166, 0, 1);
    font-family: 'myfont';
    font-size: 20px;
    width: 11%;
    background-color: rgba(255, 166, 0, 0.1);
    padding-top: 5px;
    padding-bottom: 5px;
    user-select: none;
    writing-mode: vertical-rl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    writing-mode: tb-rl;
    height: 20%;
    height: 20%;
  }

  .TalentType a:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .firstbox {
    font-family: 'myfont';
    display: inline-block;
  }

  .secondbox {
    font-family: 'myfont';
  }

  .thirdbox {
    font-family: 'myfont';
  }

  .fourthbox {
    font-family: 'myfont';
  }

  .fifthbox {
    font-family: 'myfont';
  }

  .sixthbox {
    font-family: 'myfont';
  }

  .seventhbox {
    font-family: 'myfont';
  }

  .allcompute {
    font-size: 11px;
    padding: 0 1% 1%;
    width: 100%;
    background-color: rgba(255, 166, 0, 0.05);
    border-left: 3px solid orange;
    border-bottom: 3px solid orange;
    border-right: 3px solid orange;
    line-height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  .allcomputebutton {
    border-radius: 0 5px 5px 0;
    border-left: 5px solid grey;
    background: rgba(255, 166, 0, 0.05);
    padding-left: 5px;
    display: inline;
    margin-top: 5px;
    font-family: 'myfont';
    font-size: 18px;
    user-select: none;
  }

  .allcomputebuttons {
    border-radius: 0 5px 5px 0;
    border-left: 5px solid rgb(153, 255, 0);
    background: rgba(255, 166, 0, 0.05);
    padding-left: 5px;
    display: inline;
    margin-top: 5px;
    font-family: 'myfont';
    font-size: 18px;
  }

  .allcompute > a{
    display: block;
    width: 97.4%;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 30px;
    background-color: rgba(255, 166, 0, 0.05);
    font-family: 'myfont';
    position: absolute;
    left: 0;
    border-bottom: 5px solid orange;
    border-radius: 5px 0 0 0;
    border-top: 3px solid orange;
    user-select: none;
  }

  .allcompute > a:hover {
    color: black;
    border-bottom: 5px solid rgb(231, 150, 0);
    background-color: rgba(255, 166, 0, 0.2);
  }

  .aspacing {
    height: 50px;
  }

  .star {
    text-decoration: none;
    color: black;
  }

  .star:hover {
    color: rgb(0, 196, 196);
  }

  .tips {
    font-family: 'myfont';
    font-size: 18px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 5px solid orange;
    border-top: 5px solid orange;
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    text-align: center;
    background-color: rgba(255, 166, 0, 0.05);
  }

  .tips p {
    color: black;
  }

  .End {
    display: none;
  }

  .endk {
    display: inline-block;
    margin: 0 0 0 1%;
  }

  .endk span {
    font-size: 18px;
    color: black;
    font-family: 'myfont';
    display: inline-block;
    width: 200px;
  }

  .endf {
    display: inline-block;
    position: absolute;
    right: 1%;
  }

  .endf p {
    font-family: 'myfont';
    font-size: 18px;
    text-align: right;
    display: inline-block;
    color: black;
    margin: 0 0 0 0;
  }

  .floatCal {
    background-color: rgb(242 232 216);
    text-align: center;
    border: 1px solid rgb(255 166 0);
    width: 55px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    position: fixed;
    bottom: 25%;
    right: -14%;
    opacity: 0;
    animation-duration: 500ms;
    animation-fill-mode: both;
  }

  .floatCal a span {
    font-family: 'myfont';
    font-size: 20px;
    user-select: none;
  }

  .floatCal a {
    z-index: 999;
    display: inline-block;
    text-decoration: none;
  }

  /* 下面这是动画 */
  @keyframes ButtonAnit1 {
    0% {
      opacity: 0;
      right: -14%;
    }

    100% {
      opacity: 1;
      right: 2%;
    }
  }

  @keyframes ButtonAnit2 {
    0% {
      opacity: 1;
      right: 2%;
    }

    100% {
      opacity: 0;
      right: -14%;
    }
  }
}