*{
  color: white;/*全局字体颜色*/
}
body{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: myfont;
  src: url(../font/方正粗圆.ttf);
}
@media screen and (min-width: 960px){
  body{
    background-image:url("../imgs/background-imgs.png") ;
    background-size: 100%;
    background-attachment:fixed; /* 页面保持不变 */
  }
  .title{
    text-align: center;
    color: rgb(255, 144, 40);
    font-family: myfont;
    margin-top: 0;
    background-color: rgba(10, 10, 10, 0.5);
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .all{
    display: block;
    width: 700px;
    margin: auto;
    background-color:rgba(6, 6, 6, 0.5);
    padding: 40px 80px;
    
  }
  .first{
    text-align: center;
  }
  .first input{
    display: block;
    margin: 5px auto;
    width: 300px;
    height: 30px;
    border-radius: 8px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .first p{
    display: inline-block;
    font-family: 'myfont';
  }
  .Checkbox{
    margin-top: 40px;
  }
  
  .Checkbox div >div{
    display: inline-block;
    width:270px;
    line-height: 50px;
    padding-left: 67px;
    font-size: 18px;
  }
  .Checkbox div >div>input{
    width: 28px;
    height: 21px;
    vertical-align: middle;
    color: black;
  }
  .firstbox{
    font-family: myfont;
  }
  .firstbox h2{
    color:gold;
  }
  .secondbox{
    font-family: myfont;
  }
  .secondbox h2{
    color:gold;
  }
  .thirdbox{
    font-family: myfont;
  }
  .thirdbox h2{
    color:gold;
  }
  .fourthbox{
    font-family: myfont;
  }
  .fourthbox h2{
    color:	red;
  }
  .fifthbox{
    font-family: myfont;
  }
  .fifthbox h2{
    color:lightgreen;
  }
  .sixthbox{
    font-family: myfont;
  }
  .sixthbox h2{
    color: LightBLue;
  }
  .seventhbox{
    font-family: myfont;
  }
  .seventhbox h2{
    color:	orange;
  }
  .allcompute{
    font-size: 10px;
    float: right;
    position: absolute;
    right: 10px;
    top: 125px;
    padding:30px 0px 0px 15px;
    width: 455px;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .allcomputeFive{
    font-size: 10px;
    float: right;
    position: fixed;
    right: 10px;
    top: 0px;
    padding:30px 0px 0px 15px;
    width: 455px;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .allcompute > p{
    font-size: 16px;
    font-family: 'myfont';
  }
  .allcomputeFive > p{
    font-size: 16px;
    font-family: 'myfont';
  }
  .allcompute > p > input{
    width: 19px;
    height: 17px;
    vertical-align: middle;
    color: black;
  }
  .allcomputeFive > p > input{
    width: 19px;
    height: 17px;
    vertical-align: middle;
    color: black;
  }
  .allcompute a{
    font-size: 25px;
    margin-left: 190px;
    color: black;
    border-radius: 5px;
    box-shadow: inset -6px -6px 16px rgb(76 76 76), -2px -2px 10px rgb(172 172 172);
    padding: 5px 25px;
    text-decoration: none;
    background-color:white ;
    font-family: 'myfont';
  }
  .allcomputeFive a{
    font-size: 25px;
    margin-left: 190px;
    color: black;
    border-radius: 5px;
    box-shadow: inset -6px -6px 16px rgb(76 76 76), -2px -2px 10px rgb(172 172 172);
    padding: 5px 25px;
    text-decoration: none;
    background-color:white ;
    font-family: 'myfont';
  }
  .allcompute a:hover{
    background-color: white;
    box-shadow:  inset 6px 6px 16px rgb(76 76 76), 2px 2px 10px rgb(172 172 172);
  }
  .allcomputeFive a:hover{
    background-color: white;
    box-shadow:  inset 6px 6px 16px rgb(76 76 76), 2px 2px 10px rgb(172 172 172);
  }
  .aspacing{
    height: 20px;
  }
  .star{
    text-decoration: none;
  }
  .star:hover{
    color: aqua;
  }
  .tips{
    font-family: 'myfont';
    font-size: 18px;
    float: left;
    position: absolute;
    left: 10px;
    top: 125px;
    padding:0px 15px 15px 15px;
    width: 455px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .tipsFive{
    font-family: 'myfont';
    font-size: 18px;
    float: left;
    position: fixed;
    left: 10px;
    top: 0px;
    padding:0px 15px 15px 15px;
    width: 455px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .End{
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 50px;
    position: relative;
  }
  .endk{
    display: inline-block;
    margin: 20px 20px 20px 145px;
  }
  .endk span{
    font-size: 18px;
    color: white;
    font-family: 'myfont';
    display: inline-block;
    width: 200px;
  }
  .endth{
    display: inline-block;
    text-align: right;
    margin-left: 100px;
  }
  .endth p{
    margin: 0;
    font-size: 18px;
    font-family: 'myfont';
    color: white;
    display: inline-block;
  }
  .endf{
    display: inline-block;
    position: absolute;
    right: 145px;
  }
  .endf p{
    font-family: 'myfont';
    font-size: 18px;
    display: inline-block;
    color: white;
  }
}
@media screen and (max-width:960px){
  body{
    background-image:url("../imgs/max-960.png") ;
    background-size: 100%;
    background-attachment:fixed; /* 页面保持不变 */
  }
  .title{
    text-align: center;
    color: purple;
    font-family: myfont;
    height: 18px;
    font-size: 20px;
  }
  .all{
    display: block;
    border: solid 1px black;
    width: 220px;
    margin-left: 0;
    background-color:rgba(6, 6, 6, 0.468)
  }
  .first{
    text-align: center;
  }
  .first input{
    display: block;
    margin: 5px auto;
    width: 120px;
    height: 20px;
    border-radius: 8px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .Checkbox{
    margin-top: 1px;
  }
  
  .Checkbox div >div{
    line-height: 20px;
    padding-left: 10px;
    font-size: 12px;
  }
  .Checkbox div >div>input{
    width: 25px;
    height: 18px;
    vertical-align: middle;
  }
  .firstbox{
    font-family: myfont;
  }
  .firstbox h2{
    color:gold;
  }
  .secondbox{
    font-family: myfont;
  }
  .secondbox h2{
    color:gold;
  }
  .thirdbox{
    font-family: myfont;
  }
  .thirdbox h2{
    color:gold;
  }
  .fourthbox{
    font-family: myfont;
  }
  .fourthbox h2{
    color:	red;
  }
  .ffifthbox{
    font-family: myfont;
  }
  .fifthbox h2{
    color:lightgreen;
  }
  .sixthbox{
    font-family: myfont;
  }
  .sixthbox h2{
    color: LightBLue;
  }
  .seventhbox{
    font-family: myfont;
  }
  .seventhbox h2{
    color:	orange;
  }
  .allcompute{
    font-size: 6px;
    float: right;
    position: absolute;
    right: 10px;
    top: 290px;
    padding:15px 0px 0px 15px;
    width: 173px;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .allcomputeFive{
    font-size: 6px;
    float: right;
    position: fixed;
    right: 72px;
    top: 75px;
    padding:28px 0px 0px 15px;
    width: 173px;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .allcompute > p{
    font-size: 8px;
    font-family: 'myfont';
  }
  .allcomputeFive > p{
    font-size: 16px;
    font-family: 'myfont';
  }
  .allcompute > p > input{
    width: 19px;
    height: 17px;
    vertical-align: middle;
    color: black;
  }
  .allcomputeFive > p > input{
    width: 19px;
    height: 17px;
    vertical-align: middle;
    color: black;
  }
  .allcompute a{
    font-size: 10px;
    margin-left: 35px;
    color: black;
    border-radius: 5px;
    box-shadow: inset -6px -6px 16px rgb(76 76 76), -2px -2px 10px rgb(172 172 172);
    padding: 10px 30px;
    text-decoration: none;
    background-color:white ;
    font-family: 'myfont';
  }
  .allcomputeFive a{
    font-size: 10px;
    margin-left: 35px;
    color: black;
    border-radius: 5px;
    box-shadow: inset -6px -6px 16px rgb(76 76 76), -2px -2px 10px rgb(172 172 172);
    padding: 10px 30px;
    text-decoration: none;
    background-color:white ;
    font-family: 'myfont';
  }
  .allcompute a:hover{
    background-color: white;
    box-shadow:  inset 6px 6px 16px rgb(76 76 76), 2px 2px 10px rgb(172 172 172);
  }
  .allcomputeFive a:hover{
    background-color: white;
    box-shadow:  inset 6px 6px 16px rgb(76 76 76), 2px 2px 10px rgb(172 172 172);
  }
  .aspacing{
    height: 20px;
  }
  .star{
    text-decoration: none;
  }
  .star:hover{
    color: aqua;
  }
  .tips{
    font-family: 'myfont';
    font-size: 4px;
    padding:0px 15px 15px 15px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .tipsFive{
    font-family: 'myfont';
    font-size: 4px;
    padding:0px 15px 15px 15px;
    width: 455px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .End{
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 10px;
    position: relative;
    height: 125px;
  }
  .endk{
    display: inline-block;
    margin: 20px 0px 20px 23px;
  }
  .endk span{
    font-size: 4px;
    color: white;
    font-family: 'myfont';
    display: inline-block;
    width: 130px;
  }
  .endth{
    display: inline-block;
    text-align: right;
    margin-left: 21px;
    margin-top: -10px;
  }
  .endth p{
    margin: 0;
    font-size: 4px;
    font-family: 'myfont';
    color: white;
    display: inline-block;
  }
  .endf{
    display: inline-block;
    position: absolute;
    right: 145px;
  }
  .endf p{
    font-family: 'myfont';
    font-size: 4px;
    display: inline-block;
    color: white;
    margin-right: -115px;
    margin-top: -3px;
  }
}

